
<% if(success && success.length){ %>
  <div class="flash-msg flash-success">
    <i class="fas fa-check-circle"></i>
    <div>
      <strong>Success</strong>
      <p><%= success %></p>
    </div>
    <span class="flash-close">&times;</span>
  </div>
<% } %>

<% if(error && error.length){ %>
  <div class="flash-msg flash-error">
    <i class="fas fa-times-circle"></i>
    <div>
      <strong>Error</strong>
      <p><%= error %></p>
    </div>
    <span class="flash-close">&times;</span>
  </div>
<% } %>

<script src="/JS/flash.js"></script>
