<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://github.com/" target="_blank" class="social-link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.instagram.com/" target="_blank" class="social-link">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/" target="_blank" class="social-link">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy; Stayzy Privete Limited. All rights reserved.</div>
    <div class="f-info-links">
      <a href="/privacyPolicy">Privacy Policy </a>
      <a href="/termsConditions"> Terms & Conditions</a>
    </div>
  </div>
</footer>

