<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stayzy</title>
</head>
<body>
    <h2>Create a New Listing</h2>
    <hr>
    <form action="/listings" method="post">
        <input name="listing[title]" type="text" placeholder="enter title">
        <br><br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br><br>
        <input name="listing[image]" type="text" placeholder="enter image URL/Link">
        <br><br>
        <input name="listing[price]" type="number" placeholder="enter price">
        <br><br>
        <input name="listing[country]" type="text" placeholder="enter country">
        <br><br>
        <input name="listing[location]" type="text" placeholder="enter location">
        <br>
        <br>
         <button>Add</button>
    </form>
</body>
</html>